.buttonlistWrap {
    max-width: 600px;
}

.buttonlistWrap .buttonBasic {
    width: 300px !important;
}

.buttonlistWrap .btn-reset {
    opacity: 0.7;
}

.btnSubmitCustom {
    background-color: var(--st-patrick-blue);
    display: flex;
    justify-content: center;
    width: 60px;
    height: 37px;
    border: none;
    color: var(--white);
    border-radius: 6px;
    cursor: pointer;
}

.btnSubmitCustom__disable {
    background-color: var(--st-patrick-blue);
    display: flex;
    opacity: 0.6;
    justify-content: center;
    width: 60px;
    height: 37px;
    border: none;
    color: var(--white);
    border-radius: 6px;
}

input[type='checkbox'] {
    width: 25px;
    height: 25px;
    border: red solid 2px;
}

.checkBasic > span {
    margin-top: 5px;
    float: right;
}

.headerList {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.headerList li:nth-child(2) {
    margin-bottom: 8px
}

.headerList li:nth-child(2) input {
    width: 300px;
    padding: 8px;
}

a.buttonBasic {
    padding: 0.5em 0.65em 0.5em 0.75em;
}
