table td {
    vertical-align: middle !important;
}

/*number character*/
table td:nth-child(2),
table td:nth-child(5),
table td:nth-child(6) {
    text-align: right;
}

/*******/

/*text character*/
table td:nth-child(1),
table td:nth-child(3) {
    text-align: left;
}

/*******/

/*date character*/
table td:nth-child(4) {
    text-align: center;
}

/*******/


