table td {
    vertical-align: middle !important;
}

table input {
    width: 100% !important;
    text-align: center;
}

/*number character*/
table td:nth-child(1) {
    text-align: right;
}
/*******/

/*text character*/
table td:nth-child(2),
table td:nth-child(6)
{
    text-align: left;
}
/*******/


