table td {
    vertical-align: middle !important;
}

/*number character*/
table td:nth-child(1),
table td:nth-child(2),
table td:nth-child(6),
table td:nth-child(7),
table td:nth-child(8),
table td:nth-child(9) {
    text-align: right;
}

/*******/

/*text character*/
table td:nth-child(3),
table td:nth-child(4) {
    text-align: left;
}

/*******/

button {
    height: 37px;
}
