.row {
    display: flex;
    flex-wrap: wrap;
}

.row div {
    box-sizing: border-box;
    padding: 5px;
}

.col-2 {
    width: calc((100%/12)*2);
    border: 1px solid #CDCDCD;
}

.col-3 {
    width: calc((100%/12)*3);
}

.col-9 {
    width: calc((100%/12)*9);
}

.col-10 {
    width: calc((100%/12)*10);
    border: 1px solid #CDCDCD;
}

.col-12 {
    width: calc((100%/12)*12);
    border: 1px solid #CDCDCD;
}

.w-150px {
    width: 150px;
}

.label-div {
    display: flex;
    align-items: center;
}

.sub-message {
    color:red;
    margin-left: 10px;
    font-size: 12px;
}

input[type='radio']{
    min-width: 17px !important;
    min-height: 30px !important;
    margin: 0;
}

.mt-5px {
    margin-top: 5px;
}

.error-message {
    color: red;
}

.btn-danger {
    background-color: #C45A10 !important;
}

#flash-message {
    margin-bottom:30px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color:#0d9c38;
}

.w-100px {
    width: 100px;
}

.btn-blue {
    background-color: var(--st-patrick-blue);
    color: white;
    height: 37px;
    padding: 0 20px;
}

.btn-div .btn {
    width: 125px;
}

.btn-delete {
    background-color: #c45b11;
    color: #fff;
}

.btn-copy {
    background-color: #7C87B0;
}

#print_modal {
    position: fixed;
}

#print_modal .modalInner {
    width: auto;
}

#print_modal h1 {
    margin-bottom: -12px;
}

#print_modal .tableWrap {
    background-color: #ffffff;
    padding: 10px;
    box-sizing: border-box;
    border: #cccccc solid 1px;
    margin-top: 0;
}

#print_modal table {
    width: calc(100% - 20px);
}

#print_table td {
    border: 1px solid #A0A0A0;
    padding: 0.25rem;
}

.modal__bg {
    position: fixed;
}