.content .contentInner {
    margin-top: 10%;
}

.tableWrap {
    width: 28%;
}

.borderLesstable {
    margin: auto;
}

.tableWrap.borderLesstable .tableBasic tr > th,
.tableWrap.borderLesstable .tableBasic tr > td {
    padding: 1rem 0.5rem;
}

.formsetBox > dd {
    width: 100%;
}

.formsetBox > dt {
    width: 100%;
}

.formsetBox > dd .formPack,input {
    width: 100%;
}

.btnCustomSubmit {
    width: 50%;
    float: right;
}
