.bg-white{
    background-color: #fff;
}

.bg-primary{
    background-color: $color-primary;
}

.bg-success{
    background-color: $color-success;
}

.bg-danger{
    background-color: $color-danger;
}